<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Admin Page</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    nav {
      height: 110px;
      background-color:#588157;
         box-shadow: 0 2px 6px rgba(0,0,0,0.5);
         border-radius: 5px;
        
    }

    nav img {
      float: left;
      width: 100px;
      height: 100px;
      margin-left: 20px;
      margin-top: 5px;
    }

    nav ul {
      float: right;
      position: relative;
      right: 100px;
    }

    nav ul li {
      display: inline-block;
      list-style: none;
      margin: 30px 40px 0 10px;
    }

    nav ul li a {
      text-decoration: none;
      color: white;
      font-size: 1.5rem;

    }

    .paste-button {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      width: 150px;
      display: none;
      position: absolute;
      left: 30px;
      z-index: 1;
      background-color: lavender;
      border-radius: 5px;
    }

    .paste-button:hover .dropdown-content {
      display: block;
    }

    .dropdown-content a {
      display: block;
      text-decoration: none;
      color: black;
      padding: 8px 10px;
      font-size: 16px;
      border: 1px solid black;
      border-radius: 5px;
      border-collapse: collapse;
    }

    .dropdown-content a:hover {
      background-color: white;
    }

    .abutton {
      width: 100px;
      height: 40px;
      background-color: white;
      color: black;
      font-size: 1.2rem;
      font-weight: bold;
      /* border: 1px solid black; */
      outline :none;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.7);
    }

    #user-icon {
      padding: 10px;
      display: inline-block;
    }

  </style>
</head>
<body>

  <nav>
    <!-- <img src="" alt="Logo" id="logo"> -->
    <ul>
      <li><a href="/admin">Home</a></li>
      <li><a href="/admin/product">Products</a></li>
      <li><a href="/admin/contactDetail">Contact Details</a></li>
    
<!-- 
      <li>
        <div class="paste-button">
          <div id="user-icon">👤</div>
          <div class="dropdown-content">
            <a href="logout.php">Logout</a>
          </div>
        </div>
      </li>

      <li>
        <div class="paste-button">
          <button class="abutton">Login</button>
          <div class="dropdown-content">
            <a href="#">User</a>
           <a href="#">Admin</a>
          </div>
        </div>
      </li>

      <li>
        <div class="paste-button">
          <button class="abutton">Register</button>
          <div class="dropdown-content">
            <a href="#">User</a>
            <a href="#">Admin</a>
          </div>
        </div>
      </li> -->
    </ul>
  </nav>
  <h1>This is admin detail</h1>
  
<script>

</script>
</body>
</html>
